.bd-wrapper{
	background-color: #efeff1;
	height: 100vh;
	padding-top: 50px;
	padding-bottom: 140px;
}
.logo-img{
	max-width: 170px;
}
.logo-info{
	color: #0b43c6;
	background-color: #dcecf1;
	font-weight: bold;
	font-size: 9px;
	height: 23px;
	border-radius: 17px;
	font-family: "Source Code Pro", sans-serif;
}
/*Login form*/
.card {
	transition: 0.3s;
	width: 400px;
	margin: 20px auto;
	border: transparent;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
	padding: 10px;
	border-bottom: transparent;
	margin: 25px 1px;
}
.login-info-2{
	color: #0c0c3c;
}
.card-body {
	padding: 20px;
}

.form-control {
	border-radius: 4px;
}

.btn {
	background-color: #337ab7;
	color: white;
	border-radius: 4px;
}

.btn:hover {
	background-color: #2e6da4;
}
